img {
    margin-top: 10px;
    width: 150px;
}

fieldset {
    border: 5px solid yellow;
    background: lightyellow;
    padding: 20px;
}

.displayBlock {
    display: block;
}

.addingMargin {
    margin-bottom: 10px;
}

label:hover, input:hover {
font-size: x-large;
}

.centerText {
margin-left: 100px;
}

/* label, legend {
  padding: 20pxs
} */