fieldset {
    border: 5px solid yellow;
    background: lightyellow;
    padding: 20px;
}

label:hover, input:hover {
font-size: x-large;
}

.centerText {
margin-left: 100px;
}

/* label, legend {
  padding: 20pxs
} */